<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <properties>
    <property name="basepath">c:\\logs\flow-mo-api</property>
  </properties>
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File name="File" fileName="${basepath}/app.log">
        <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    
    <RollingFile name="FileAppender" fileName="${basepath}/smart-chat.log" 
             filePattern="${basepath}/smart-chat.log-%d{yyyy-MM-dd}-%i.log">
	    <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	    <Policies>
	        <TimeBasedTriggeringPolicy interval="1" />
	    </Policies>
	    <DefaultRolloverStrategy max="50"/>
	</RollingFile>
  </appenders>

  <loggers>
    <root level="info">
      <appender-ref ref="Console" level="info"/>
      <appender-ref ref="File" level="info"/>
      <appender-ref ref="FileAppender" level="info"/>
    </root>
  </loggers>
</configuration>